.button {
  border-radius: var(--spacer-biggest);
  width: fit-content;
  margin: var(--spacer-big) 0;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-heading);
  padding: var(--spacer-small) var(--spacer-biggest);
    &:hover {
      cursor: pointer;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

  &.primary {
    border: none;
    background-color: var(--primary-color);
    color: var(--navbar-bg-color);

      &:hover{
      background-color: var(--navbar-bg-color);
      color: var(--primary-color);
      border: solid 1px var(--primary-color);
    }
  }

  &.secondary {
    background-color: var(--navbar-bg-color);
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
      &:hover{
      border: solid 1px transparent;
      background-color: var(--primary-color);
      color: var(--navbar-bg-color);
      }
  }
}
