header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  header div {
    align-items: center;
    background-color: var(--navbar-bg-color);
    display: flex;
    width: fit-content;
  }
  header nav {
    background-color: var(--navbar-menu-color);
    display: flex;
    padding: 3.5rem 11.9375rem;
    justify-content: space-between;
    width: 100%;
  }
  ::slotted(a) {
    font-size: 1.125rem ;
    display: flex;
    color: var(--navbar-link-color);
    padding: 1rem 1.25rem ;
    text-decoration: none;
    min-width: fit-content;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  ::slotted(a:hover) {
    color: var(--navbar-link-hover-color);
  }
  ::slotted(.nav-link--active) {
    color: var(--navbar-link-active-color);
    font-weight: 700;
  }
