header {
    display: flex;
    flex-direction: row;
    min-height: auto;
    max-height: auto;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
  }
  header div {
    align-items: center;
    background-color: var(--navbar-bg-color);
    display: flex;
    padding: 0 1rem;
    width: fit-content;
  }
  header nav {
    background-color: var(--navbar-menu-color);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  ::slotted(a) {
    display: flex;
    color: var(--navbar-link-color);
    padding: 1rem 2rem ;
    text-decoration: none;
    min-width: fit-content;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  ::slotted(a:hover) {
    color: var(--navbar-link-hover-color) !important;
  }
  .logo::slotted(a) {
      color: #333333;
      /* font-family: 'Dosis', Arial, Helvetica, sans-serif; */
      font-size: 2em;
      max-height: 100px;
      padding: 0;
      text-decoration: none;
  }
  .animate {
    transition: all 1s ease-in-out !important;
  }
  ::slotted(.nav-link--active) {
    color: var(--navbar-link-active-color) !important;
  }
