h1 {
    text-align: center;
    margin: 2rem auto 2;
}
p {
    margin: 1.5rem auto 4rem;
    text-align: center;
    width: 830px;
    color: var(--text-color-primary);
}
hr {
    border: none;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    width: 56px;
}

.grid {
    display: flex;
    width: 70%;
    margin: var(--spacer-biggest) auto;
    align-items: center;
    flex-wrap: wrap;
}
.row {
    display: flex;
    flex:100%;
    padding: var(--spacer-big);
    flex-direction:row;
    align-items: center;
}  

.col {
    display: flex;
    flex:33%;
    height: 340px;
    align-items: center;
    justify-content: center;
}
.button {
    border-radius: var(--spacer-biggest);
    font-weight: var(--font-weight-normal);
    width: fit-content;
    margin: var(--spacer-big) 0;
    font-weight: var(--font-weight-bold);
    padding: var(--spacer-small) var(--spacer-biggest);
  
    &.secondary {
      background-color: var(--navbar-bg-color);
      color: var(--primary-color);
      border: solid 1px var(--primary-color);
    }
}
.button-container {
    margin: var(--spacer-biggest) auto ;
}
.splash {
    position: absolute;
    top:auto;
    z-index: -5;
}
.dots {
    position: absolute;
    right: 15%;
    transform: translateY(20rem);
    z-index: -5;
}