.container {
  position: relative;

  .splash, .dots {
    position: absolute;
    z-index: -1;
  }

  .splash {
    top: auto;
  }

  .dots {
    right: 10%;
    bottom: 20%;
  }

  .grid, .section-heading {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .grid {
    width: 60rem;
    justify-content: space-around;
    .col {
      flex: 0 0 32%;
      height: fit-content;
      margin-bottom: var(--spacer-big);
    }
  }

  .section-heading {
    width: 50rem;
    flex-direction: column;
    justify-content: center;
    h1, p {
      text-align: center;
    }

    hr {
      height: 2px;
      background-color: black;
      border-radius: 5px;
      width: 56px;
    }

    p {
      color: var(--text-color-primary);
    }
  }

  // TODO - should be removed when button as web component implementation

  .button-container {
    display: flex;
    justify-content: center;
    .button {
      border-radius: var(--spacer-biggest);
      width: fit-content;
      margin: var(--spacer-big) 0;
      font-weight: var(--font-weight-bold);
      padding: var(--spacer-small) var(--spacer-biggest);

      &.secondary {
        background-color: var(--navbar-bg-color);
        color: var(--primary-color);
        border: solid 1px var(--primary-color);
      }
    }
  }

}


