.container {
  position: relative;

  .splash, .dots {
    position: absolute;
    z-index: -1;
  }

  .splash {
    top: auto;
    bottom: 30%;
  }

  .dots {
    right: 10%;
    bottom: 50%;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .grid {
    width: 60rem;
    justify-content: space-around;
    .col {
      flex: 0 0 32%;
      height: fit-content;
      margin-bottom: var(--spacer-big);
    }
  }
}